body{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    color: white;
}

.instructions{
    color: white;
    font-size: 50px;
}

.choices, .com-choices, .user, .computer{
    display: flex;
    flex: 1;
    justify-content: center;
    /* gap: 250px; */
    background-color: rgb(36, 8, 41);
    padding: 0;
    /* border-left: 5px solid white;
    border-right: 5px solid white; */

}

.user{
    border-bottom: 2px solid aqua;
    border-top: 5px solid aqua;
}

.computer{
    border-bottom: 2px solid red;
    border-top: 5px solid red;
}
.weapon{
    background-color: black ;
    padding: 5px;
    border-radius: 200px;
    /* transform:scale(0.5); */
    /* width: 150px; */
    margin: 15px 25px;
    /* padding: 0; */
}
.score, .cscore{
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: black;
    color: white;
    border: 5px solid red;
}

.score{
    color: aqua;
    border: 5px solid aqua;
}
.cscore{
    color: red;
    border: 5px solid red;
}

img{
    width: 100px;
    background-color: orange;
    border-radius: 200px;
}
.players{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    
}

.user, .computer{
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.winning, .again{
    font-size: 100px;
    color: white;
    display: none;
}

a{
    text-decoration: none;
    color: red;
}
.again{
    background-color: black;
}